@import "tailwindcss";
@config "../../tailwind.config.ts";

:root {
  --background: 222 84% 5%;
  --foreground: 210 40% 98%;
}

* {
  border-color: rgb(30 41 59);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(2 6 23);
  color: rgb(241 245 249);
  font-feature-settings: "rlig" 1, "calt" 1;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(15 23 42);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(51 65 85);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(71 85 105);
}

.text-balance {
  text-wrap: balance;
}
